/***********************************************************************************
RESET
***********************************************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section, generic-sidebar { display:block; }
section { clear: both; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { font: 13px sans-serif *font-size:small *font:x-small line-height:1.22; background: #010101;}
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
textarea{overflow:auto}
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #9ad007; color:#fff; text-shadow: none; }
::selection { background:#9ad007; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/***********************************************************************************
GRID
***********************************************************************************/
.grid1, .grid2, .grid3{
	float: left;
	position: relative;
	text-align: left;
}
	.grid1{
		margin: 0 auto;
		float: none;
		width: 890px;
		padding: 0 45px;
	}
	.grid2{
		width: 585px;
	}
	.grid3{
		width: 280px;
	}

header{
	width: 890px;
	height: 70px;
	padding: 20px 0px 30px;
}
	header img{
		margin-top: 13px;
	}

/***********************************************************************************
STRUCTURE
***********************************************************************************/
body{
	text-align: center;
}

footer{
	padding: 0 0 20px 0;
	height: 30px;

}

.ie7 footer{
	margin-bottom: 44px;
}
		footer .right{
			padding-bottom: 30px;
		}
		footer .right a{
			margin-left: 15px;
		}

p{
	margin: 0 0 11px 0;
}
	.tagline{
		margin: 11px 0 11px 0;
	}

ul, ol{
	margin: 0 0 11px 22px;
}

#gallery{
    height: 300px;
    width: 870px;
    overflow: hidden;
    padding: 9px;
    position: relative;
}
    #gallery ul{
            list-style: none;
            position: absolute;
/*            left: 0px;
            top:0px;*/
            margin: 0;
            padding: 0;
    }
    #gallery li{
            position: absolute;
            left: 0px;
            top: 0px;
    }

.grid3, .grid2{
	margin-right: 25px;
}

/* Navigation */
nav{
	float: right;
	margin-top: 20px;
}
#navigation li{
	float: left;
}
#navigation li a:link, #navigation li a:visited{
	padding: 5px 10px;
	margin-right: 2px;
	display: block;
}
#navigation li a:link span, #navigation li a:visited span{
	display: block;
}

/* Reset margins and paddings */
.reset { padding: 0 !important; margin: 0 !important; }
.reset-padding { padding: 0 !important; }
.reset-margin { margin: 0 !important; }

/* Aligns */
.left{
	float: left;
}
.right{
	float: right;
}
img.left, figure.left{
	margin: 5px 11px 11px 0;
}
img.right, figure.right{
	margin: 5px 0 11px 11px;
}
p.right, blockquote.right, p.left, blockquote.left{
	width: 40%;
}
figure.left, figure.right{
	width: auto;
}

/* Ruler */
hr{
	height: 10px;
}
	hr.top, hr.bottom{
		position: absolute;
		left: 5px;
		width: 970px;
		margin: 0px;
	}
	hr.top{
		top: 0px;
	}
	hr.bottom{
		bottom: 0px;
	}

/* Pre and code and blockquote */
pre, code,blockquote{
	padding:  5px 11px;
	margin: 11px;
}

/* Figure */
figure{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
	#main figure img{
		margin: 0 auto;
		clear: both;
	}
figcaption {
	color:#999;
	font-size:11px;
	font-style:italic;
	line-height:14px;
	text-align:center;
	vertical-align:baseline;
	display: block;
}

/* Description tag: use this to place a div beside an image and keep the text in one column */
.description{
	display: table-cell;
}


/***********************************************************************************
STYLE
***********************************************************************************/
body{
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 22px;
	color: #666;
	background: transparent url(../images/body.jpg) repeat 0 0;
}

footer{
	font-size: 10px;
	color: #999;
}
	footer a:link, footer a:visited, footer a:active{
		color: #666;
		text-decoration: none;
	}
	footer a:hover{
		color: #000;
		text-decoration: underline;
	}
#gallery{
	border: solid 1px #E9E9E9;
}
#wrapper{
	background: transparent url(../images/wrapper.gif) repeat-y 0 0;
}

/* Links */
#main a:link, #main a:visited, #main a:active{
	color: #9ad007;
	text-decoration: none;
}
#main a:hover{
	text-decoration: underline;
}

/* Posts/article - vea add */
article {}
article hr { margin-top: -3px; }
.post-text {}
.post-text .grid3 .description p { line-height: 18px; }
.post-text .grid3 .description h5 { padding: 5px 0px 0px; }
.post-read-more { text-align: right; }
.post-attachment {}
.post-gallery { display: block; }
.post-footer { margin-top: 20px; display: block; clear: both; }
.grid3 .archive { display: block; text-align: right; }

section h5 { margin-top: 10px; padding-bottom: 2px; border-bottom: 1px solid #E9E9E9; }

img.icon { margin-right: 2px; vertical-align:text-bottom; }
img.icon2 { margin: 2px 0 0 8px; vertical-align:text-bottom; }
img.icon3 { margin: 2px 10px 0 0; vertical-align:text-bottom; }
img.icon4 { margin: 0px 5px; padding: 0px; vertical-align:text-bottom; }
img.icon5 { margin: 0px 5px; }
img.frame { margin: 0 5px 8px 0; padding: 2px; border: 1px solid #e2dfd3; }


.pagination { background-color: #FFF; background: transparent url(../images/hr.gif) repeat 0 0 !important; padding: 5px; text-align: center; -moz-border-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.pagination strong { background: #FFFFFF; border: 1px solid #ccc; margin: 0 2px; padding: 3px 5px; text-align: center;  -moz-border-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.pagination a { background: #FFFFFF; border: 1px solid #ccc; margin: 0 2px; padding: 3px 5px; text-align: center;  -moz-border-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.pagination a:hover { background: #EFEFEF; text-align: center; text-decoration: none; -moz-border-radius: 5px;  border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

/* Frontpage */

.frontpage {
    font: 12px Helvetica, Arial, sans-serif;
    line-height: 22px;
    color: #666;
/*    font-family: 'FuturaCondensedNormalRegular', Arial, sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.frontpage h2 {
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 20px;
}

.frontpage p {

    font-size: 12px;
}

.frontpage a {
    margin: 2px 0px;
    font-weight: bold;
}

/* Headers */
h1{}
h1,h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-family: 'FuturaCondensedNormalRegular', Arial, sans-serif;
	padding-top: 11px;
	font-weight: normal;
}
h2, h3, h4, h5, h6{
	padding-bottom: 4px;
}
    h1{
            font-size: 30px;
            color: #999;
    }
            h1 span{
                    font-size: 20px;
                    padding-left: 15px;
                    color: #ccc;
            }
    h2{
            font-size: 24px;
            color: #9ad007;
    }
            h2 span{
                    font-size: 14px;
                    color: #ccc;
                                                        display: block;
            }
    h3{
            font-size: 22px;
            color: #333;
    }
    h4{
            font-size: 20px;
            color: #333;
    }
    h5{
            font-size: 18px;
            color: #666;
    }
    h6{
            font-size: 16px;
            color: #999;
    }

/* Navigation */
#navigation li a:link, #navigation li a:visited{
    font: 18px 'FuturaCondensedNormalRegular', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    font-weight: normal;
    line-height: 18px;
}
#navigation li a:link span, #navigation li a:visited span{
    font-weight: normal;
    font-size: 14px;
    color: #999;
}
#navigation li.active a:hover, #navigation li.active a:link, #navigation li.active a:visited, #navigation li.active a:active, #navigation li.active a:link span, #navigation li.active a:visited span{
    color: #9ad007;
}
#navigation li a:hover span, #navigation li a:hover{
    color: #333;
}

/* Tag line used under the gallery on main page */
.tagline{
    font-size: 18px;
    font-style:italic;
    color: #999;
}

/* Border around images */
article img, article iframe{
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px #E9E9E9;
}

section img {
    border: 0px solid #999;
    padding: 0px;
    margin-bottom: 0px;
}

hr{
	border: 0;
	background-color: #FFF;
	background: transparent url(../images/hr.gif) repeat 0 0 !important;
}

/* Pre and code */
pre, code{
	border: 1px solid #E9E9E9;
	background: #F3F3F3;
}
blockquote{
	color: #999;
	font-style:italic;
}

/* Table */
table{
	border:1px solid #E9E9E9;
	margin-bottom: 11px;
}
table thead th{
	text-transform: uppercase;
	color: #333;
	background:#E9E9E9;
	padding: 2px 5px;
}
table tbody td{
	color: #666;
	border-bottom:1px solid #E9E9E9;
	padding: 2px 5px;
}

/* Link list */
.links{
	list-style: none;
	/*border-top:1px solid #E9E9E9;	*/
	margin: 0 0 11px 0;
	padding: 0;
}
.links li{
	border-bottom:1px solid #E9E9E9;
	padding: 5px 0;
}

/* Tick list */
.tick, .cross, .plus, .minus{
	list-style: none;
	margin: 0 0 11px 0;
	padding: 0;
}
.tick li{
	background: transparent url(../images/icons/tick.gif) no-repeat 0 5px;
	padding-left: 17px;
}
.cross li{
	background: transparent url(../images/icons/cross.gif) no-repeat 0 5px;
	padding-left: 17px;
}
.plus li{
	background: transparent url(../images/icons/plus.gif) no-repeat 0 5px;
	padding-left: 17px;
}
.minus li{
	background: transparent url(../images/icons/minus.gif) no-repeat 0 5px;
	padding-left: 17px;
}

/* Meta info */
.meta{
	font-size: 11px;
	color: #999;
}
.comment{
	background: transparent url(../images/icons/comment.gif) no-repeat 0 5px;
	padding-left: 14px;
}
.bookmark{
	background: transparent url(../images/icons/bookmark.gif) no-repeat 0 5px;
	padding-left: 14px;
}
.person{
	background: transparent url(../images/icons/person.gif) no-repeat 0 5px;
	padding-left: 14px;
}
.podcast{
	background: transparent url(../images/icons/podcast.gif) no-repeat 0 5px;
	padding-left: 14px;
}
.document{
	background: transparent url(../images/icons/document.gif) no-repeat 0 5px;
	padding-left: 14px;
}

/* Ads */
#main .ads img{
	border: none;
	padding: 0px;
}

/* Forms */
form ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
	form ul li{
		padding: 5px 0;
	}
form label{
	display: block;
}
	label span{
		color: #9ad007;
		font-size: 10px;
		padding-left: 5px;
	}
form input, form textarea{
	border: solid 1px #e9e9e9;
	padding: 8px;
	background: #FFF;
	width: 50%;
}
form textarea{
	width: 70%;
	height: 100px;
}
button, #main a:link.button, #main a:visited.button, #main a:active.button{
	background: #9ad007;
	padding: 6px 22px;
	font-weight: bold;
	color: #FFF;
	border: none;
}
button:hover, #main a:hover.button{
	background: #333;
	text-decoration: none;
}
#main a.button{
	padding: 8px 22px !important;
}

/* HTML5 form */
.focus.invalid{
  color: #C00 !important;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  color: #C00 !important;
}
input.valid, textarea.valid, input:valid, textarea:valid{
	background: #FFF url(../images/icons/tick.gif) no-repeat 97% 8px;
}
.placeholder{
	color: #999 !important;
	background-image: none !important; /* Fix for opera */
}
input::-webkit-input-placeholder {
	color: #999 !important;
}

/* Top button */
#top-link{
	font-family: 'FuturaCondensedNormalRegular', Arial, sans-serif;
	font-size: 18px;
	color: #FFF;
	width: 40px;
	height: 22px;
	background: #000;
	opacity: 0.2;
	text-align: center;
	padding: 2px 0 0 0;
	font-weight: normal;
	position: fixed;
	right: 40px;
	bottom: 40px;
	display: block;
	text-decoration: none;
}
a:hover#top-link{
	opacity: 0.7 !important;
}

/***********************************************************************************
PRINT
***********************************************************************************/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/***********************************************************************************
MOBILE
***********************************************************************************/
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }

}

