body {
	background: #eee;
	font-family: 'Ubuntu', sans-serif;
}

a { color: #302c43 !important; }
a img { border: 0; }

.hr { margin-top: 10px; border-bottom: 1px solid #302c43; }
.item { background: #333; text-align: center; }
.slider a { color: #FFFFFF !important; }
.slider a:hover { text-/decoration: none; }
.pagination a { color: #302c43 !important; }
.pagination li.active a { background: #302c43 !important; border-color: #302c43 !important; color: #FFFFFF !important; }

.container { 
	background: #fff;
 }

@media (min-width: 568px) {
  .container {
    width: 560px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 985px;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 1000px;
  }
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100;
}

.pad { padding: 10px; }
.header { padding: 15px; }
.vcenter { display: table-cell; vertical-align: middle; }
.center-middle { display: table-cell; vertical-align: middle; text-align: center;}
#logo { float: left; }
/*#logo img { height: 100px; }*/
#latin { float: right; margin: 5px 5px 0 0; }
#latin img { width: 150px; }
.lang-box { float: right; }
.date-sentence { font-size: 12px; display: inline; margin-left: 135px; margin-right: 59px; }
body:last-child .date-sentence, x:-moz-any-link, x:default { margin-right: 8px; }
.tools { width: 320px; }
.lang { display: inline; padding: 3px 19px; margin-right: 5px; width: 60px; }
.lang:hover { background: #bf3125; }
.lang a { color: #FFFFFF; }

.ssst-no-padding { padding: 0 !important; margin: 0 !important; }
.ssst-no-padding-left { padding-left: 0 !important; margin-left: 0 !important; }
.ssst-no-padding-right { padding-right: 0 !important; margin-right: 0 !important; }

.ssst-margin-top { margin-top: 1px !important; }
.ssst-margin-bottom { margin-bottom: 1px !important; }

.ssst-border-top { border-top: 1px solid #ffffff; }
.ssst-border-bottom { border-bottom: 1px solid #ffffff; }
.ssst-border-right { border-right: 1px solid #ffffff; }
.ssst-border-left { border-left: 1px solid #ffffff; }

.ssst-red { background: #bf3125; color: #FFFFFF; }
.ssst-gray { background: #282828; color: #FFFFFF; }
.ssst-blue { background: #302c43; color: #FFFFFF; }
.ssst-blue a, .ssst-red a, .ssst-gray a { color: #FFFFFF !important; }
.ssst-blue a:hover, .ssst-red a:hover, .ssst-gray a:hover { text-decoration: none; }

.ssst-red-pad { background: #bf3125; color: #FFFFFF; padding: 10px; }
.ssst-blue-pad { background: #302c43; color: #FFFFFF; padding: 10px;}
.ssst-blue-pad a, .ssst-red-pad a, .ssst-gray-pad a { color: #FFFFFF !important; }
.ssst-blue-pad a:hover, .ssst-red-pad a:hover, .ssst-gray-pad a:hover { text-decoration: none; }


.ssst-row { margin-top: 10px !important; }
.ssst-sub-row { height: 110px !important; }
.ssst-box-height { height: 110px !important; }
.ssst-center { text-align: center; }
/*h2 { margin: 0; color: #666; padding-top: 90px; font-size: 52px; font-family: "trebuchet ms", sans-serif; }*/
.ssst-row h4 { font-size: 14px; }
.ssst-row h3 { margin-top: 5px !important; margin-bottom: 5px !important; }
/* .ssst-row p { font-size: 11px; } */
.ssst-row p.adjust { font-size: 11px; }
.ssst-row small { font-size: 10px; }

.ssst-sidebar .ssst-sub-row { width: 250px; }
.ssst-content { padding: 5px 40px 40px 40px; }
.ssst-content h1 { font-size: 24px !important; margin: 10px 0 !important; }
.ssst-content {  }



.ssst-left-image {
    float: left;
    margin: 0px 5px 10px 0px;
}

.ssst-right-image {
    float: right;
    margin: 0px 0px 10px 5px;
}

.ssst-left-image , .ssst-right-image  {
    height: 220px;
    width: 330px;
}

.footer { font-size: 11px; margin: 10px 0;}
.footer hr { border-top: 1px solid #333; padding: 0; margin: 10px 0; }

/*	FORM  */
form {
	display: inline;
}

input[type="text"] {
	border: 0px;
	background: #EEE;
	color: #333333;
	padding: 3px;
}

.search { width: 160px; height: 22px; color: #333; }

/*	SLIDER	*/

.slider { z-index: -1000; }
.carousel-caption .bg-h1 {
	background: #333;
	padding: 5px 10px;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #800000;
}

.carousel-caption .bg-h1:hover {
	background: #000;
	cursor: auto;
}

.carousel-caption h1 {
	padding: 0;
	margin: 0;
	font-size: 22px;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	color: #fff;
}

.carousel-caption  {
}

/*	MENU - HEADER */

/*******************************************************************************************************/
/*******************************************************************************************************/
/*******************************************************************************************************/
/*						DOLE POPRAVLJAJ            						*/
/*******************************************************************************************************/
/*******************************************************************************************************/
/*******************************************************************************************************/
/* FIKSEVI BOOTSTRAPA ZA PREPRAVLJANJE */

@grid-float-breakpoint(min-width: 568px) {
  .container {
    width: 560px;
  }
}

.navbar-default {
	background-color: #FFF !important;
	border-color: #FFF !important;
}

.navbar {
	margin-bottom: 0px !important;
}

/*Initialize*/
ul#header-menu, ul#header-menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#header-menu li, ul#header-menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#header-menu li a, ul#header-menu li ul.sub-menu li a {
    text-decoration: none;
    color: #FFFFFF !important;
    background: #bf3125;
    display:inline-block;
	text-align: left;
	font-size: 10px;
}
ul#header-menu li ul.sub-menu li a {
	background: none;
}
ul#header-menu li a {
	font-size: 14px;
	text-align: center;
	padding: 10px 10px;
	width: 160px;
	margin-right: 5px;
}

*::-ms-backdrop, ul#header-menu li a {
	width: 158px;
	margin-right: 7px;
} /* IE11 */


/* FIREFOX FIX ONLY */
body:last-child ul#header-menu li a, x:-moz-any-link, x:default {
	font-size: 13px;
	/*margin-right: 4px;*/
}

/*Make the parent of sub-menu relative*/
ul#header-menu li {
    position: relative;
}
/*sub menu*/
ul#header-menu li ul.sub-menu {
    display:none;
    background: #333;
    position: absolute;
    top: 30px;
    left: 0;
    width: 160px;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    z-index: 1000;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

/* FIREFOX FIX ONLY */
body:last-child ul#header-menu li ul.sub-menu, x:-moz-any-link, x:default {
	margin-top: 9px;
}

ul#header-menu li ul.sub-menu:hover {
	border-bottom: 5px solid #bf3125;
}

ul#header-menu li ul.sub-menu li {
	display: block;
	margin-bottom: 3px;
}

ul#header-menu li ul.sub-menu li a {
	margin: 1px 1px;
	width: 95%;
	padding: 1px 5px;
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

ul#header-menu li ul.sub-menu li a:hover {
	border: 1px solid #bf3125;
	margin: 0px 0;
}

ul#header-menu li:hover ul.sub-menu {
    display:block;
}
/*******************************************************************************************************/
/*******************************************************************************************************/
/*******************************************************************************************************/
/*						GORE POPRAVLJAJ            						*/
/*******************************************************************************************************/
/*******************************************************************************************************/
/*******************************************************************************************************/

/*	MENU - SIDEBAR */

ul#sidebar-menu {
	list-style-image: url('/images/arrow-menu.gif');
/* 	list-style-type: none;
    padding: 0px;
    margin: 0px; */
    padding-left: 20px;
}

#sidebar-menu li a:hover {
	color: #bf3125 !important;
	text-decoration: none;
	border: 1px solid #bf3125;
	padding: 1px 2px;
}

/* FIREFOX FIX ONLY */
body:last-child #sidebar-menu li a, x:-moz-any-link, x:default {
	padding-left: 5px;
}

/* Posts/article - vea add */
/* article .post-text { font-size: 12px; } */
article { text-align: justify; }
article hr { margin-top: 3px; }
article h2 { font-size: 18px; text-align: left; margin: 5px 0; }
article p img { margin-right: 10px; }
article div.box_gray { background: #d8d8d8; border: 1px solid rgba(0, 0, 0, 0.05); padding: 5px; margin-top: 10px; margin-bottom: 10px; }
article div.box_gray p { margin: 0px; }
article div.box_full { background: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.05); padding: 5px; margin-top: 10px; margin-bottom: 10px; }
article div.box_full p { margin: 0px; }
article div.box_left { width: 318px; margin-right: 10px; float: left; padding: 5px; background: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.05); margin-bottom: 5px; margin-top: 5px }
article div.box_left p { margin: 0px; }
/*article div.box_blue { background: #302c43; border: 1px solid rgba(0, 0, 0, 0.05); padding: 5px; margin-top: 10px; margin-bottom: 10px; color: white; }*/
article img.image_right { margin-left: 10px; margin-right: 0px; }
article img.image_left { float: left; margin-left: 0px; margin-right: 10px; }
/*	 CONTENT META	*/

.document-meta {
	font-size: 12px;
}
