<h2>Table Example</h2>

<table>
  <thead>
    <tr>
      <th>Voluptatem</th>
      <th>Rotam</th>
      <th>Aque</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Veritatis et</td>
      <td>Voluptatem accusantium</td>
      <td>Unde omnis iste</td>
    </tr>
    <tr>
      <td>Aque ipsa quae ab</td>
      <td>Unde omnis iste</td>
      <td>Rotam rem aperiam</td>
    </tr>
    <tr>
      <td>Veritatis et</td>
      <td>Veritatis et</td>
      <td>Aque ipsa quae ab</td>
    </tr>
  </tbody>
</table>