<hr>
    <div class="clearfix" style="display: block; clear: both;">
        
        <div class="grid3"> <img width="80" height="80" alt="wim" class="left" src="/images/illustrations/wim.jpg">
          <div class="description">
            <h5>Wim Mostmans</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et. </p>
          </div>
        </div>

        <div class="grid3 reset"> <img width="80" height="80" alt="neera" class="left" src="/images/illustrations/neera.jpg">
          <div class="description">
            <h5>Neera Stellfeld</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et. </p>
          </div>
        </div>

    </div>
<hr>
